<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmt.modisco.discoverers">
      <discoverer
            class="org.eclipse.gmt.modisco.java.generation.actions.GenerateJavaModel"
            name="%discoverer.name">
      </discoverer>
   </extension>

</plugin>
