<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.acceleo.ide.ui.launching.launchConfigurationType">
<stringAttribute key="org.eclipse.acceleo.ide.ui.ARGUMENTS" value=""/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_PROFILING" value="false"/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_TRACEABILITY" value="true"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.LAUNCHING_STRATEGY_DESCRIPTION" value="Acceleo Plug-in Application (Default)"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.MODEL_PATH" value="/SoTeSoLa-Hackathon/Models/javaStatic_refined_java.xmi"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.TARGET_PATH" value="/javaStatic_refined/src"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.eclipse.gmt.modisco.java.generation/src/org/eclipse/gmt/modisco/java/generation/files/GenerateJavaExtended.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.gmt.modisco.java.generation.files.GenerateJavaExtended"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;C:/Users/bruneliere/Desktop/Workspaces/workspace_MoDisco_SoTeSoLa-Hackathon/SoTeSoLa-Hackathon/Models/javaStatic_refined_java.xmi&quot; &quot;C:/Users/bruneliere/Desktop/Workspaces/workspace_MoDisco_SoTeSoLa-Hackathon/javaStatic_refined/src&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.eclipse.gmt.modisco.java.generation"/>
</launchConfiguration>
